<header>
  <div class="dropdown">
    <button class="dropbtn"> <span class="box-shadow-menu"></span></button>
    <div class="dropdown-content">
        <li><a href="/home"><span class="icon-house"></span>home</a></li>
        <li><a href="/login"><span class="icon-house"></span>Login</a></li>
        <li><a href="/logout"><span class="icon-suitcase"></span>Logout</a></li>
        <li><a href="/profiles"><span class="icon-rocket"></span>Profile</a></li>
        <li><a href="/services"><span class="icon-earth"></span>Services</a></li>
        <li><a href="/settings"><span class="icon-mail"></span>Settings</a></li>
        <li><a href="/posts"><span class="icon-mail"></span>posts</a></li>
        <img src="assets/img/logo.png" width="100" heigth="100" position="20px">
    </div>
  </div>
</header>
<router-outlet></router-outlet>